* {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  background: whitesmoke;
  padding: 2.5px;
}
nav img {
  background-color: transparent;
}

main {
  margin-top: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
    margin-top: 50px;
    font-size: 22px;
    color: rgb(6, 56, 82);
    font-family: sans-serif;
    font-weight: 100;
    text-align: center;
  }

span{
    margin-top: 50px;
    font-size: 22px;
    color: rgb(6, 56, 82);
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;

}

h1 {
  font-size: 80px;
  color: rgb(3, 56, 84);
  font-family: "Grape Nuts", cursive;
  font-weight: 900;
}

h2 {
  color: rgb(66, 185, 248);
  font-size: 50px;
  font-family: "Cabin", sans-serif;
  font-weight: 900;
  text-align: center;
}
h3 {
  margin-top: 50px;
  font-size: 45px;
  color: rgb(3, 56, 84);
  font-family: "Cabin", sans-serif;
  font-weight: 900;
  text-align: center;
}

h4 {
  margin-top: 50px;
  color: rgb(66, 185, 248);
  font-size: 37px;
  font-family: "cabin", sans-serif;
  font-weight: light;
  text-align: center;
}
h5 {
  margin-top: 50px;
  font-size: 22px;
  color: rgb(6, 56, 82);
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
}
h6 {
  margin-top: 90px;
  font-size: 43px;
  color: rgb(3, 56, 84);
  font-family: "Cabin", sans-serif;
  font-weight: 900;
  text-align: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

nav button {
  height: 80px;
  width: 25.5%;
  margin-right: 20px;
  border: 2.5px solid rgb(3, 56, 84);
  border-radius: 10px;
  background-color: transparent;
  color: rgb(3, 56, 84);
  padding: 10px;
  font-size: 200%;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
}

nav button:hover {
  background-color: rgb(5, 42, 62);
  color: white;
}

main button {
  margin-top: 85px;
  height: 80px;
  width: 52%;
  margin-right: 20px;
  border: 2.5px solid rgb(3, 56, 84);
  border-radius: 10px;
  background-color: rgb(2, 41, 61);
  color: white;
  padding: 10px;
  font-size: 200%;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
}

main button:hover {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3); 
}

main img {
  margin-top: 80px;
  width: 60%;
}


.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* /* .p1,.p2 {
    width: 150px; 
    margin-bottom: 70px;
    margin-left: 20px;
} */
 */
